header{
	 background-color: lightgrey;
}
footer{
	background-color: lightgrey;
	overflow: auto;
	clear: both;
}
img{
	height: 64px;
	width: 64px;
	float: left;
}
address{
	float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 175px;
    background-color: lightgrey;
}
li a {
    display: block;
    color: black;
    padding: 20px 50px;
    text-decoration: none; /* remove underline*/
}
li a:hover {
    background-color: grey;
    color: white;
}
.clear{
	clear: left;
}
.at{
	position: absolute;
	left: 0%;
}
.search{
	position: absolute;
	top: 2%;
	right: 3%;
}
.alignleft{
	float: left;
	background-color: lightgrey;
}
.alignright{
	float: right;
	background-color: lightgrey;
}
.menu {
    position: relative;
    display: inline-block;
}

.dropmenu {
    display: none;
    position: absolute;
    background-color: lightgrey;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid grey;
}

.menu:hover .dropmenu {
    display: block;
}