
    header{
         background-color: lightgrey;
    }
    footer{
        background-color: lightgrey;
    }
    img{
        height: 128px;
        width: 128px;
        float: left;
    }
    .clear{
        clear: left;
    }
    .at{
        position: absolute;
        left: 0%;
    }
    .search{
        position: absolute;
        top: 2%;
        right: 3%;
    }